@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    min-height: 100vh;
    height: fit-content;
}

body {
    font-family: "Roboto", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container { 
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
}

.header{
    width: 100%;
    height: 69px;
    color: #ffffff;
    background-color: #EC362D;
    text-align: center;
    font-weight: 700;
    font-size: 37px;
    line-height: 175%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #fafafa;
    width: 100%;
    min-height: calc(100vh - 69px);
    height: 100%;
    padding-bottom: 20px;
}

.pagina-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    padding: 0 18px;
}

.criar-quizz-container{
    margin-top: 77px;
    box-sizing: border-box;
    width: 1051px;
    height: 181px;
    text-align: center;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.criar-quizz-container p{
    color: #B9B9B9;
    width: 180px;
    text-align: center;
    font-weight: 400;
    line-height: 23.44px;
}

.criar-quizz-container button{
    color: #EC362D;
    width: 151px;
    height: 40px;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}

.add-quizz{
    margin-left: 17px;
    width: 31px;
    height: 30px;
    color: #FFFFFF;
    background-color: #EC362D;
    border-radius: 500px;
    transition: all 300ms linear;
}

.add-quizz:hover{
    background-color: #f36e67;
}
.usuario-quizzes .opcoesEditaDeleta{
    display: flex;
}
.divRelativa{
    position: relative;
}
.opcoesEditaDeleta{
    position: absolute;
    top: 24px;
    right: 0;
    width: 43px;
    height: 87px;
    background-color: #EC362D;
    border-radius: 10px 0px 0px 11px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}
.opcoesEditaDeleta ion-icon{
    width: 18px;
    height: 18px;
    color: #FFFFFF;
}
.opcoesEditaDeleta ion-icon:hover{
    cursor: pointer;
}
/* Lista de Quizzes */

.todos-quizzes, .usuario-quizzes {
    width: 100%;
    max-width: 1051px;
    margin-top: 77px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 12px;
}

.todos-quizzes h3, .usuario-quizzes h3 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.lista-quizzes {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* justify-content: center; */
}

.quiz {
    height: 181px;
    width: 340px;
    padding: 0 20px 10px;
    color: #ffffff;
    font-size: 19px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    border-radius: 5px;
    line-break: anywhere;
}

/*Criação de Quizz*/

.criacao-nivel-quiz, 
.criacao-informacao-quiz,
.criacao-perguntas-quiz {
    display: flex;
    flex-direction: column;
    gap: 43px;
    align-items: center;

    width: 100%;
    margin-top: 63px;
    margin-bottom: 63px;
}

.criacao-nivel-quiz h4, 
.criacao-informacao-quiz h4,
.criacao-perguntas-quiz h4 {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.criacao-nivel-quiz .container-forms, 
.criacao-informacao-quiz .container-forms,
.criacao-perguntas-quiz .container-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.criacao-nivel-quiz .container-forms .form-nivel,
.criacao-informacao-quiz .container-forms .form-nivel,
.criacao-perguntas-quiz .container-forms .form-nivel {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 27px 16px 20px;
    background-color: #ffffff;
    max-width: 600px;
    width: 100%;
    overflow-y: hidden;

}

.form-nivel .form-header {
    display: flex;
    justify-content: space-between;
}

.form-nivel h5 {
    font-weight: 700;
    font-size: 20px;
}

.form-nivel ion-icon {
    font-size: 22px;
}

.form-nivel .input-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form-nivel input, .form-nivel textarea {
    outline: none;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding-left: 24px;
    height: 46px;
    width: 100%;
    font-size: 20px;
}

.form-nivel textarea {
    padding-top: 10px;
    resize: vertical;
}

.botao-confirmacao {
    width: 324px;
    background-color: #EC362D;
    color: #FFF5F4;
    text-align: center;
    border: none;
    border-radius: 15px;
    outline: none;
    height: 54px;
    font-size: 18px;
    cursor: pointer;
}

/* Confirmação de criação */

.confirmacao-criacao {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.fundo {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url('https://st2.depositphotos.com/1005147/5192/i/450/depositphotos_51926417-stock-photo-hands-holding-the-sun-at.jpg');
}

/*Classe Escondido*/

.escondido {
    display: none !important;
    transition: all 300ms linear;
}

.criar-quizz-container button:hover{
    background-color: #ff9b95;
}
/*exibição do quiz*/
.containerExibicao{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 85px;
}
.divImagemQuiz{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 227px;
    background-position: 50% 10%;;
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloQuiz{
    text-align: center;
    word-wrap: break-word;
    font-size: 39px;
    color: #fff;
}
.questao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    width: 759px;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding-bottom: 25px;
    padding-top: 28px;
}
.caixaTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 689px;
    height: 138px;
    margin-bottom: 20px;
}
.tituloQuestao{
    word-wrap: break-word;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    color: #fff;
}
.opcoes{
    width: 689px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.imagemOpcao{
    width: 330px;
    height: 175px;
    margin-bottom: 8px;
}
.textoOpcao{
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 18px;
}
.esbranquicado{
    opacity: 0.3;
}
.respostaCerta{
    color: #009C22;
}
.respostaErrada{
    color: #FF4B4B;
}
.imagemFim{
    width: 364px;
    height: 273px;
    margin-bottom: 9px;
}
.textoFim{
    font-weight: 700;
    font-size: 19px;
    width: 328px;
    height: 100%;
    color: #484848;
    margin-bottom: 15px;
    word-wrap: break-word;
}
.fim{
    width: 727px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.caixaTituloFim{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 727px;
    height: 99px;
    background-color: #EC362D;
    margin-bottom: 18px;
}
.botaoReiniciarQuiz{
    margin-top: 57px;
    margin-bottom: 16px;
    border: none;
    width: 260px;
    height: 52px;
    background-color: #EC362D;
    border-radius: 15px;
    color: #fff;
    font-size: 21px;
}
.botaoReiniciarQuiz:hover{
    cursor: pointer;
}
.voltaHome:hover{
    cursor: pointer;
}
.voltaHome{
    width: 220px;
    height: 44px;
    font-size: 21px;
    color: #818181;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mensagens de Erro */

input.erro, textarea.erro {
    background-color: #FFE9E9;
}
  
span.erro {
    color: #EC362D;
}
.loader-background{
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #EC362D;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 800ms linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader-text {
    margin-top: 24px;
    color: #EC362D;
    font-size: 30px;
    font-weight: 500;
  }

/*versão mobile*/
@media (max-width: 1100px) {

    .criar-quizz-container{
        width: 100%;
    }

    .divImagemQuiz{
        height: 142px;
    }
    .tituloQuiz{
        font-size: 19px;
    }
    .questao{
        width: 375px;
        height: 100%;
        margin-top: 24px;
    }
    .caixaTitulo{
        width: 340px;
        height: 89px;
        margin-bottom: 13px;
    }
    .tituloQuestao{
        font-size: 19px;
    }
    .imagemOpcao{
        width: 163px;
        height: 113px;
        margin-bottom: 5px;
    }
    .textoOpcao{
        font-size: 13px;
        margin-bottom: 12px;
    }
    .opcoes{
        width: 340px;
    }
    .imagemFim{
        width: 340px;
        height: 255px;
        margin-bottom: 9px;
    }
    .textoFim{
        width: 340px;
        font-size: 17px;
        margin-bottom: 5px;
    }
    .fim{
        width: 340px;
        flex-wrap: wrap;
    }
    .caixaTituloFim{
        width: 340px;
        margin-bottom: 9px;
    }
    .botaoReiniciarQuiz{
        width: 220px;
        height: 44px;
        font-size: 18px;
    }
    .voltaHome{
        font-size: 18px;
    }
    .usuario-quizzes h3{
        justify-content: space-between;
    }
}