@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    min-height: 100vh;
    height: 100%;

}

body {
    font-family: "Roboto", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container { 
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
}

.header{
    width: 100%;
    height: 69px;
    color: #ffffff;
    background-color: #EC362D;
    text-align: center;
    font-weight: 700;
    font-size: 37px;
    line-height: 175%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.app, .app-creator{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #fafafa;
    width: 100%;
    min-height: calc(100vh - 69px);
    height: 100%;
}

.criar-quizz-container{
    box-sizing: border-box;
    width: 1051px;
    height: 181px;
    text-align: center;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
}

.criar-quizz-container p{
    color: #B9B9B9;
    width: 180px;
    height: 107px;
    text-align: center;
    font-weight: 400;
    line-height: 23.44px;
    margin: auto;
}

.criar-quizz-container button{
    color: #EC362D;
    width: 151px;
    height: 40px;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}

/*Criação de Quizz*/

.criacao-nivel-quiz {
    display: flex;
    flex-direction: column;
    gap: 43px;
    align-items: center;

    width: 100%;
    margin-top: 63px;
}

.criacao-nivel-quiz h4 {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.criacao-nivel-quiz .container-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.criacao-nivel-quiz .container-forms .form-nivel {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 27px 16px 20px;
    background-color: #ffffff;
    max-width: 600px;
    width: 100%;
    overflow-y: hidden;

}

.form-nivel .form-header {
    display: flex;
    justify-content: space-between;
}

.form-nivel h5 {
    font-weight: 700;
    font-size: 20px;
}

.form-nivel ion-icon {
    font-size: 22px;
}

.form-nivel .input-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form-nivel input, .form-nivel textarea {
    outline: none;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding-left: 24px;
    height: 46px;
    width: 100%;
    font-size: 20px;
}

.form-nivel textarea {
    padding-top: 10px;
    resize: vertical;
}

.botao-confirmacao {
    width: 324px;
    background-color: #EC362D;
    color: #FFF5F4;
    text-align: center;
    border: none;
    border-radius: 15px;
    outline: none;
    height: 54px;
    font-size: 18px;
    cursor: pointer;
}

/*Classe Escondido*/

.escondido {
    display: none !important;
    transition: all 300ms linear;
}

.criar-quizz-container button:hover{
    background-color: #ff9b95;
}